<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:app="http://schemas.android.com/apk/res-auto"
		android:orientation="vertical"
		android:id="@+id/drawer_layout"
		android:layout_height="match_parent"
		android:fitsSystemWindows="true"
		android:layout_width="match_parent">
<android.support.design.widget.NavigationView
			android:id="@+id/nav_view"
			android:layout_height="match_parent"
			android:layout_width="225dp"
			android:layout_gravity="start"
			android:fitsSystemWindows="true"
			app:headerLayout="@layout/nav_header"
			app:menu="@menu/menu"/>
<FrameLayout
		android:id="@+id/fragmentcontainer"
		android:layout_height="match_parent"
		android:layout_width="match_parent">
		<fragment xmlns:android="http://schemas.android.com/apk/res/android"
          android:id="@+id/map"
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          class="com.google.android.gms.maps.MapFragment" />
</FrameLayout>
	
</android.support.v4.widget.DrawerLayout>


